@import "./constant";

// 红色主题
$themeRed: #c62f2f;
$themeRed_logoColor: #ffffff;
$themeRed_splitLine: #a82828;
$themeRed_iconColor: #eea1a1;
$themeRed_iconColor_Hover: #eed3ce;
$themeRed_themeMark: #fc4646;
$themeRed_ElButtonApp_Hover: #ff3f38;

// 黑色主题
$themeDark: #222225;
$themeDark_logoColor: #ffffff;
$themeDark_splitLine: #828487;
$themeDark_iconColor: #828487;
$themeDark_iconColor_Hover: #f5f5f5;
$themeDark_themeMark: #4f4f52;
$themeDark_ElButtonApp_Hover: #666;

// 绿色主题
$themeGreen: #40c576;
$themeGreen_logoColor: #ffffff;
$themeGreen_splitLine: #a0ffcc;
$themeGreen_iconColor: #a0ffcc;
$themeGreen_iconColor_Hover: #ffffff;
$themeGreen_themeMark: #00c344;
$themeGreen_ElButtonApp_Hover: #38b169;

// 橙色主题
$themeOrange: #ff7724;
$themeOrange_logoColor: #ffffff;
$themeOrange_splitLine: #b9561a;
$themeOrange_iconColor: #292929;
$themeOrange_iconColor_Hover: #ffffff;
$themeOrange_themeMark: #ff5b05;
$themeOrange_ElButtonApp_Hover: #ff6100;

// 蓝色主题
$themeBlue: #27bbff;
$themeBlue_logoColor: #ffffff;
$themeBlue_splitLine: #008aca;
$themeBlue_iconColor: #003b56;
$themeBlue_iconColor_Hover: #ffffff;
$themeBlue_themeMark: #2180f7;
$themeBlue_ElButtonApp_Hover: #2180f7;

// 紫色主题
$themePurple: #743ef0;
$themePurple_logoColor: #ffffff;
$themePurple_splitLine: #af8dff;
$themePurple_iconColor: #f19dff;
$themePurple_iconColor_Hover: #ffffff;
$themePurple_themeMark: #5a24b1;
$themePurple_ElButtonApp_Hover: #5a24b1;

@mixin theme($selector, $color, $logoColor, $splitLine, $iconColor, $iconColor_Hover, $themeMark, $ElButtonApp_Hover) {
  #{$selector} {

    .app-header {
      background-color: $color;

      .logo {
        font-size: 20px;
        color: $logoColor;
      }

      .window-ctrl {
        .sys-ctrl:before {
          background-color: $splitLine;
        }

        .no-drag {
          color: $iconColor;

          &:hover {
            color: $iconColor_Hover;
          }
        }
      }
    }

    .el-button--app {
      color: #fff;
      border-color: $color;
      background-color: $color;

      &:hover, &:focus, &:active {
        color: #fff;
        border-color: $ElButtonApp_Hover;
        background-color: $ElButtonApp_Hover;
      }
    }

    .theme-modal {
      .theme-list-wrapper {
        .theme-radio {
          &.theme-red {
            background-color: $themeRed;
          }

          &.theme-dark {
            background-color: $themeDark;
          }

          &.theme-green {
            background-color: $themeGreen;
          }

          &.theme-orange {
            background-color: $themeOrange;
          }

          &.theme-blue {
            background-color: $themeBlue;
          }

          &.theme-purple {
            background-color: $themePurple;
          }

          &.active {
            border-color: $color;
          }

          .marker {
            border-bottom-color: $themeMark;
          }
        }
      }
    }

    .nav {
      .root-nav {
        dd a.router-link-active {
          border-color: $color;
        }
      }
    }

    .theme-color {
      color: $color;
    }
  }
}

@include theme('.theme-red', $themeRed, $themeRed_logoColor, $themeRed_splitLine, $themeRed_iconColor, $themeRed_iconColor_Hover, $themeRed_themeMark, $themeRed_ElButtonApp_Hover);

@include theme('theme-dark', $themeDark, $themeDark_logoColor, $themeDark_splitLine, $themeDark_iconColor, $themeDark_iconColor_Hover, $themeDark_themeMark, $themeDark_ElButtonApp_Hover);

@include theme('theme-green', $themeGreen, $themeGreen_logoColor, $themeGreen_splitLine, $themeGreen_iconColor, $themeGreen_iconColor_Hover, $themeGreen_themeMark, $themeGreen_ElButtonApp_Hover);

@include theme('theme-orange', $themeOrange, $themeOrange_logoColor, $themeOrange_splitLine, $themeOrange_iconColor, $themeOrange_iconColor_Hover, $themeOrange_themeMark, $themeOrange_ElButtonApp_Hover);

@include theme('theme-blue', $themeBlue, $themeBlue_logoColor, $themeBlue_splitLine, $themeBlue_iconColor, $themeBlue_iconColor_Hover, $themeBlue_themeMark, $themeBlue_ElButtonApp_Hover);

@include theme('theme-purple', $themePurple, $themePurple_logoColor, $themePurple_splitLine, $themePurple_iconColor, $themePurple_iconColor_Hover, $themePurple_themeMark, $themePurple_ElButtonApp_Hover);
