@font-face {
    font-family: "SY HeiTi";
    src: url("./SourceHanSansCN-Light.otf");
}
@font-face {
    font-family: "Pao Pao";
    src: url("./paopao.ttf");
}

.heiti {
    font-family: "SY HeiTi";
}
.paopao {
    font-family: "Pao Pao";
}
